################################################################################
## Set of file patterns to prevent being checked into the repo
################################################################################

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.gradle/
MANIFEST

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Virtual Environments
.venv

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# IDE exclusions
.idea
*.iml

config.ini

# created local DB
binary.db

# incase inadvertantly left by unit testing
conf-testing.conf

# Build files
RPMS/

