[Unit]
Description=Carbon Black Response Yara Connector
After=syslog.target network.target

[Service]
Environment=C_FORCE_ROOT=1
Type=forking
ExecStart=/usr/share/cb/integrations/cb-yara-connector/yaraconnector --debug --config-file /etc/cb/integrations/cb-yara-connector/yaraconnector.conf --run-forever True
WorkingDirectory=/usr/share/cb/integrations/cb-yara-connector
#User=cb
#Group=cb


[Install]
WantedBy=multi-user.target