################################################################################
# Package requirements
# All versions are latest viable at date of package version release
################################################################################

celery==4.4.0
humanfriendly==4.18
peewee==3.13.1
psycopg2-binary==2.8.4
python-daemon==2.2.4
redis==3.3.11
requests==2.22.0
simplejson==3.17.0
urllib3==1.25.7
yara-python==3.11.0
