[bridge]

;
; core configuration options
;

;
; listener_port
; port to listen for incoming feed requests 
;
listener_port=7000

;
; listener_address
; ipv4 address to listen; defaults to 127.0.0.1
; 0.0.0.0 binds to all interfaces
;
listener_address=0.0.0.0

;
; binary_filter_query
; Additional query options to filter only binaries of interest to the Yara connector
;
; Default=None
;
binary_filter_query=is_executable_image:true -(digsig_publisher:"Microsoft Corporation" and digsig_result:"Signed")

;
; Number of concurrent threads
;
; Default=4
;
yara_num_threads=8

;
; yara_rule_directory
; directory where yara rules live.
;
yara_rule_directory=/usr/share/cb/integrations/yara/example_rules

;
; Carbon Black Enterprise Server options
;

;
; Carbon Black Enterprise Server URL
;
carbonblack_server_url=https://localhost/

;
; Carbon Black Enterprise Server API Token
;
carbonblack_server_token=

;
; Carbon Black Enterprise Server SSL Verfication
;
carbonblack_server_sslverify=0


;
; debugging options
;

; debug
; enables various debug output
;
debug=1
